<h1>Ainesosia</h1>

<ul>
  <% @ingredients.each do |item| %>
    <li>
      <%= link_to item.name, ingredient_path(item) %>
      , <%= truncate(item.description, :length => 50) %>
      , <%= item.fooditems.count %>
    </li>
  <% end %>
</ul>

<%= link_to "Uusi", new_ingredient_path %>

<p>
<%= link_to "Ruoat", fooditems_path %>
</p>
