<h1> Ainesosa <% @ingredient.name %> </h1>

<p> Name: <%= @ingredient.name %> </p>
<p> Description: <%= @ingredient.description %> </p>
<p> Rating: <%= @ingredient.rating %> </p>

<p> Foods:
  <table class="bordered-table condensed-table zebra-striped">
    <% if !@fooditem_list.empty? %>
      <thead>
        <tr><th>Name</th><th>Description</th><th>Edit</th></tr>
      </thead>
      <% @fooditem_list.each do |food| %>
        <tr>
          <td> <%= link_to food.name, fooditem_path(food.id) %> </td>
          <td> <%= food.description %> </td>
          <td> <%= link_to "Edit", edit_fooditem_path(food.id) %> </td>
        </tr>
      <% end %>
    <% else %>
      <tr> No Foods </tr>
    <% end %>
  </table>
</p>

<%= link_to "takaisin", ingredients_path %>
<%= link_to "muokkaa", edit_ingredient_path(@ingredient) %>
<%= link_to "poista", ingredient_path, :method => :delete %>

