<h1> Ainesosa <% @ingredient.name %> </h1>

<p> Name: <%= @ingredient.name %> </p>
<p> Description: <%= @ingredient.description %> </p>

<p> Foods:
  <ul>
    <% if !@fooditem_list.empty? %>
      <% @fooditem_list.each do |food| %>
        <li>
          <%= link_to food.name, fooditem_path(food.id) %> : <%= food.description %>
          <%= link_to "muokkaa", edit_fooditem_path(food.id) %>
       </li>
      <% end %>
    <% else %>
      <li> No foods </li>
    <% end %>
  </ul>
</p>

<%= link_to "takaisin", ingredients_path %>
<%= link_to "muokkaa", edit_ingredient_path(@ingredient) %>
<%= link_to "poista", ingredient_path, :method => :delete %>

