<% @manufacturer_list.each do |m| %>
  <p> <%= m.name %> </p>
<% end %>

<%= form_for @fooditem do |f| %>

  <% unless @fooditem.errors.empty? %>
    <h2> Failed to save fooditem </h2>
    <% @fooditem.errors.full_messages.each do |msg| %>
      <p> <%= msg %> </p>
    <% end %>
  <% end %>

  <div>Name:</br>
    <%= f.text_field :name %>
  </div>

  <div>Description:</br>
    <%= f.text_area :description %>
  </div>

  <div>Manufacturer:</br>
  <% if !@manufacturer_list.nil? %>
  <% @manufacturer_list.each do |m| %>
    <div class="checkbox">
      <%= f.fields_for :m, m do |tag_fields| %>
        <%= tag_fields.hidden_field :name %>
        <%= tag_fields.check_box :name %>
        <label><%= m.name %></label>
      <% end %>
    </div></br>
  <% end %>
  <% end %>
  </div>

  <%= f.submit "Tallenna" %>
  tai
  <%= link_to "Palaa", fooditems_path %>

  <div>Ingredients:</br>
  <% if !@ingredient_list.nil? %>
  <% @ingredient_list.each do |fooditem_ingredient| %>
    <div class="checkbox">
      <%= f.fields_for :fooditem_ingredients, fooditem_ingredient do |tag_fields| %>
        <%= tag_fields.hidden_field :name %>
        <%= tag_fields.check_box :name %>
        <label><%= fooditem_ingredient.name %></label>
      <% end %>
    </div></br>
  <% end %>
  <% end %>
  </div>

<% end %>
