<h1> <% @fooditem.name %> </h1>

<p> Name: <%= @fooditem.name %> </p>
<p> Description: <%= @fooditem.description %> </p>
<p> Manufacturer: <%= @fooditem.manufacturer ? @fooditem.manufacturer.name : "None" %> </p>

<p> Ingredients:
  <table class="bordered-table condensed-table zebra-striped">
    <% if !@ingredient_list.empty? %>
      <thead>
        <tr><th>Name</th><th>Description</th><th>Rating</th><th>Edit</th></tr>
      </thead>
      <% @ingredient_list.each do |ing| %>
        <tr>
          <td> <%= link_to ing.name, ingredient_path(ing.id) %> </td>
          <td> <%= ing.description %> </td>
          <td> <%= ing.rating %> </td>
          <td> <%= link_to "Edit", edit_ingredient_path(ing.id) %> </td>
        </tr>
      <% end %>
    <% else %>
      <tr> No ingredients </tr>
    <% end %>
  </table>
  <%= link_to "lisää", new_ingredient_path(:fooditem_id => @fooditem.id) %>
</p>

<%= link_to "takaisin", fooditems_path %>
<%= link_to "muokkaa", edit_fooditem_path(@fooditem.id) %>
<%= link_to "poista", fooditem_path, :method => :delete %>

