<h1> <% @fooditem.name %> </h1>

<p> Name: <%= @fooditem.name %> </p>
<p> Description: <%= @fooditem.description %> </p>

<%= link_to "takaisin", fooditems_path %>
<%= link_to "muokkaa", edit_fooditem_path(@fooditem) %>
<%= link_to "poista", fooditem_path, :method => :delete %>

