<h1> <% @fooditem.name %> </h1>

<p> Name: <%= @fooditem.name %> </p>
<p> Description: <%= @fooditem.description %> </p>

<p> Ingredients:
  <ul>
    <% if !@ingredient_list.empty? %>
      <% @ingredient_list.each do |ing| %>
        <li>
          <%= link_to ing.name, ingredient_path(ing.id) %> : <%= ing.description %>
          <%= link_to "muokkaa", edit_ingredient_path(ing.id) %>
        </li>
      <% end %>
    <% else %>
      <li> No ingredients </li>
    <% end %>
    <li>
      <%= link_to "lisää", new_ingredient_path(:fooditem_id => @fooditem.id) %>
    </li>
  </ul>
</p>

<%= link_to "takaisin", fooditems_path %>
<%= link_to "muokkaa", edit_fooditem_path(@fooditem) %>
<%= link_to "poista", fooditem_path, :method => :delete %>

