<%= form_for @manufacturer do |f| %>

  <% unless @manufacturer.errors.empty? %>
    <h2> Failed to save manufacturer </h2>
    <% @manufacturer.errors.full_messages.each do |msg| %>
      <p> <%= msg %> </p>
    <% end %>
  <% end %>

  <div>Name:</br>
    <%= f.text_field :name %>
  </div>

  <div>Description:</br>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "Tallenna" %>
  tai
  <%= link_to "Palaa", manufacturers_path %>

<% end %>
